@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Livvic", sans-serif;
}

#heroSection {
    background-color: #014E56;
    position: relative;

    .container {
        max-width: 1110px !important;
    }



    header {
        padding-top: clamp(40px, 2vw, 77px);

        img {
            width: clamp(128px, 7vw, 160px);
        }

        nav {
            a {
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
                color: white;
            }
        }

        button {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
            color: white;
            border-radius: 2rem;

        }
    }

    main {
        padding-top: clamp(80px, 9vw, 129px);
        padding-bottom: clamp(197px, 18vw, 250px);
        z-index: 10;
        position: relative;
        overflow-y: hidden;

        h1 {
            font-weight: 700;
            font-size: clamp(40px, 7vw, 100px);
            line-height: clamp(40px, 7vw, 100px);
            letter-spacing: 0px;
            color: white;

            @media screen and (max-width : 767px) {
                width: 100%;
            }

            span {
                color: #F67E7E;
            }
        }

        .right {
            width: 445px;
            max-width: 100%;

            .divider {
                width: 50px;
                height: 4px;
                background-color: #79C8C7;
            }

            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
                padding-right: 10px;
            }
        }

        #group7 {
            width: 358px;
            max-width: 100%;
            height: 200px;
            position: absolute;
            right: 0;
            bottom: -50px;

            @media screen and (max-width : 767px) {
                right: 50%;
                transform: translate(50%, 0);
            }
        }
    }

    #group8 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: -70px;
        transform: translate(0, -50%);
    }



}